/.vs
/packages
/MIchi-Soft-Backend/bin
/MIchi-Soft-Backend/obj
/MIchi-Soft-Backend/logs
/DataAccess/obj
/DataAccess/bin
/Entities/obj
/Entities/bin
/Services/obj
/Services/bin
/Authentication/obj
/Authentication/bin